* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    justify-content: center;
}

.main-cpntainer {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    height: 4rem;
    background: url(https://images.unsplash.com/photo-1615716272071-6498bc46913c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTY1fHxsaWdodHMlMjBjb2xvcnMlMjBiYWNrZ3JvdW5kc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500);
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 30px 0;
    padding: 0 15px 0 15px;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: 1s ease;
}

.navbar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 19px 1px #2759b4;
}

.logo h1 {
    width: 20%;
    color: #fff;
    transition: 1s ease-in;
}

.logo h1:hover {
    color: #011436;
}

.icon {
    font-size: 30px;
}

.icon .fa-brands {
    color: #ffff;
    transition: 1s ease-in;
}

.fa-brands:hover {
    background: linear-gradient(to top, #011436 100%, #fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu ul {
    width: 20%;
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 15px;
}

.navlist li {
    list-style: none;
}

.navlist a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    position: relative;
    transition: 1s ease-in;
}

.navlist li a::after {
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transition: transform .5s;
    transform: scale(0);
    transform-origin: bottom right;
}

.navlist li a:hover::after {
    transform: scale(1);
    transform-origin: bottom left;
}

.navlist li a:hover {
    color: #011436;
}

.content {
    width: 1200px;
    height: 28rem;
    background: url(https://images.unsplash.com/photo-1615716272071-6498bc46913c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTY1fHxsaWdodHMlMjBjb2xvcnMlMjBiYWNrZ3JvdW5kc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .8s ease-in-out;
}

.heading {
    line-height: 35px;
    margin-bottom: 30px;
}

.heading h1 {
    color: #0a4dc9;
}

.heading h2 {
    color: #011436;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.btn button {
    padding: 5px 25px 5px 25px;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: .7s ease-in;
}

.btn .btn-1 {
    border: 2px solid #011436;
}

.btn .btn-2 {
    border: 2px solid #2759b4;
}

.btn-1:hover {
    color: #fff;
    background: #2759b4;
    border: 2px solid #fff;
}

.btn-2:hover {
    background: #6c9bf3;
    color: #fff;
    border: 2px solid #162033;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.image-1 {
    width: 350px;
    height: 350px;
    border: 2px solid #011436;
    margin: 30px 0 30px 0;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: .8s ease-in-out;
}

.bmw-m5 {
    background-image: url(https://www.bmw-m.com/content/dam/bmw/marketBMW_M/www_bmw-m_com/all-models/m-automobile/m4-cs/bmw-m4-cs-hd-02.jpg?imwidth=1280);
}

.bmw-m4 {
    background-image: url(https://www.bmw-m.com/content/dam/bmw/marketBMW_M/www_bmw-m_com/all-models/m-automobile/m4-cs/bmw-m4-cs-hd-06.jpg?imwidth=1280);
}

.bmw-m3 {
    background-image: url(https://www.bmw-m.com/content/dam/bmw/marketBMW_M/www_bmw-m_com/all-models/m-automobile/m4-cs/bmw-m4-cs-hd-03.jpg?imwidth=1280);
}

.image-1:hover {
    transform: scale(1.1);
    box-shadow: 0 0 19px 1px #2759b4;
}

.functions {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.child-1 {
    width: 334px;
    height: 150px;
    background: url(https://images.unsplash.com/photo-1615716272071-6498bc46913c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTY1fHxsaWdodHMlMjBjb2xvcnMlMjBiYWNrZ3JvdW5kc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500);
    margin: 0 0 30px 0;
    padding: 12px 0 0 0;
    border: 2px solid #2759b4;
    border-radius: 20px;
    text-align: center;
}

.footer-section {
    width: 1200px;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    border: 2px solid #0a4dc9;
    justify-content: space-evenly;
    background: url(https://images.unsplash.com/photo-1615716272071-6498bc46913c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTY1fHxsaWdodHMlMjBjb2xvcnMlMjBiYWNrZ3JvdW5kc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500);
    background-size: cover;
}

.footer-section li {
    list-style: none;
}

.footer-section h4 {
    margin: 0 0 15px 0;
}

.footer-section h4:hover {
    color: #e608de;
}

.footer-section p {
    color: #05245e;
}

.footer-section a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-family: Arial;
    transition: .5s ease-out;
}

.footer-section a:hover {
    color: #05245e;
}

 .footer-section input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #011436;
    padding: 0 0 5px 3px;
    font-weight: bold;
    color: #011436;
    vertical-align: middle;
}
.footer-section input:focus{
    outline: none;
}